.footer {
  width: 100%;
  background-color: #3f51b5;
  position: relative;
  z-index: 1;
}

.footerContent {
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerUp {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px;
}

.students {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.boxlist {
  list-style: none;
  padding-left: 0;
  color: white;
}

.companies {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.upHeading {
  color: white;
  margin: 0;
}

.socialLogo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.socialList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.store {
  display: flex;
  flex-direction: column;
}

.downHeadingone {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 0.2rem;
}

.downHeadingtwo {
  display: flex;
  justify-content: center;
  color: white;
  padding: 0.2rem;
}

.downHeadingLast {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}

.footerDown {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid white;
}
